body {
	text-align: center;
}

#editinterface {
	padding: 1em;
	border-style: solid;
}

#sentence1 {

}

#sentence2 {

}

#sentence3 {

}

#sentence4 {

}

#sentence5 {

}

#footer {
	padding: .2em;
	font-size: 65%;
}
