body {
	text-align: center;
}

#alphatag {
	font-size: .65em;
	position: relative;
	top: .4em;
	right: .1em;
}

#betatag {
	/* Code for later, when we move to beta and update for this in index.html */
	font-size: .5em;
	font-style: italic;
	position: relative;
	top: .4em;
	right: .1em;
	color: #484848;
}

#editinterface {
	padding: 1em;
	border-style: solid;
}

#sentence1 {

}

#sentence2 {

}

#sentence3 {

}

#sentence4 {

}

#sentence5 {

}

#footer {
	padding: .2em;
	font-size: 65%;
}
